.post {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

.post:first-child {
    margin-top: 0;
}

.post:last-child {
    border-bottom: none;
}

.post a:visited {
    color: var(--dark-headline);
}

.wrapper {
    display: flex;
    gap: .7rem;
    margin-top: .3rem;
}

.post-date {
    font-size: 0.75rem;
    color: var(--accent);
    margin-top: 0.3rem;
}

.post-body {
    margin: 1rem 0;
}

.post-image_preview {
    width: 60%;
    max-width: 500px;
}

@media only screen and (min-width: 992px) {
    .post-image_preview {
        width: 100%;
        max-width: 500px;
    }
}