.title {
    margin-bottom: 1rem;
}

.wrapper {
    padding: 30px 40px 20px 40px;
}

.img {
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.confirm-btn {
    display: flex;
    margin-inline: auto;
}