.post_full-size {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

.post_full-size:first-child {
    margin-top: 0;
}

.post_full-size:last-child {
    border-bottom: none;
}

.post_full-size a:visited {
    color: var(--dark-headline);
}

.wrapper_full-size {
    display: flex;
    gap: .7rem;
    margin-top: .3rem;
}

.post-date_full-size {
    font-size: 0.75rem;
    color: var(--accent);
    margin-top: 0.3rem;
}

.post-body_full-size {
    margin: 1rem 0;
}

.post-image_full-size {
    width: 100%;
    max-width: 800px;
}
