.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--br-button);
    background: var(--background);
    border: 1px solid var(--accent);
    z-index: 2;
    padding: 30px 40px 20px 40px;
}

.exit-button {
    background-color: transparent;
    position: absolute;
    top: -24px;
    right: -26px;
    color: var(--accent);
    font-size: 30px;
}

.exit-button:hover {
    color: var(--dark-headline);
}