.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--br-button);
    background: var(--background);
    z-index: 2;
}

.exit-button {
    background-color: transparent;
    position: absolute;
    top: -24px;
    right: -26px;
    color: var(--accent);
    font-size: 30px;
}

.exit-button:hover {
    color: var(--accent-hover);
}