/* Fonts */
@import url('https://api.fonts.coollabs.io/css2?family=Montserrat:wght@400;500&display=swap');

/* || RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --ff-montserrat-ss: 'Montserrat', sans-serif;
    --ff-futura-ss: 'Futura', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    /* COLORS */
    --white: #fffffe;
    --background: #fef6e4;
    --main: #f3d2c1;
    --main-hover: #EBB498;
    --dark-headline: #001858;
    --light-headline: #172c66;
    --secondary: #8bd3dd;
    --accent: #f582ae;
    --accent-hover: #F3689D;
    --error: #931621;

    /* BORDER RADIUS */
    --br-button: .5rem;
    --br-general: .25rem;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh; /* not necessary, I do it out of habit */
    display: flex;
    font-family: var(--ff-futura-ss);
    color: var(--dark-headline);
    background-color: var(--main);
}

body a {
    color: var(--dark-headline);
}

#root {
    flex-grow: 1;
}

img, svg {
    display: block;
    min-height: auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    min-width: fit-content;
    background-color: transparent;
    font-family: var(--ff-montserrat-ss);
    font-weight: var(--fw-500);
}

input, textarea {
    color: var(--dark-headline);
}

.home, .new-post, .edit-post, .post-page, .about, .users, .user, .missing {
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: var(--background);
}

main {
    max-width: 800px;
}

@media only screen and (min-width: 610px) {
    html {
        font-size: 22px;
    }
}

/* || BUTTONS */
.custom-file-input,
.submit-btn,
.delete-btn,
.edit-btn {
    margin-top: 1rem;
    max-width: fit-content;
    border-radius: var(--br-button);
    padding: 0.5rem;
    font-size: 1rem;
}

.default-file-input {
    display: none;
}

.custom-file-input {
    color: var(--white);
    margin-right: .5rem;
    background-color: var(--light-headline);
}

.custom-file-input:hover,
.custom-file-input:focus {
    background-color: var(--dark-headline);
}

.submit-btn {
    background-color: var(--accent);
    color: var(--white);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--accent-hover);
}

.delete-btn {
    background-color: var(--main);
    color: var(--white);
}

.delete-btn:hover,
.delete-btn:focus {
    background-color: var(--main-hover);
}

.remove-file-btn {
    background: transparent;
    vertical-align: middle;
    color: var(--light-headline);
}

.remove-file-btn:hover {
    color: var(--dark-headline);
}

.edit-btn {
    color: var(--white);
    background: var(--light-headline);
}

.edit-btn:hover,
.edit-btn:focus {
    background-color: var(--dark-headline);
}

/* || STATUS MESSAGES */
.status-msg {
    margin-top: 1rem;
}

.status-msg_err {
    color: var(--error);
}

