/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* || RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --ff-montserrat-ss: 'Montserrat', sans-serif;
    --ff-futura-ss: 'Futura', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    /* COLORS */
    --white: #fffffe;
    --background: #fef6e4;
    --main: #f3d2c1;
    --main-hover: #EBB498;
    --dark-headline: #001858;
    --light-headline: #172c66;
    --secondary: #8bd3dd;
    --accent: #f582ae;
    --accent-hover: #F47BA9;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh; /* not necessary, I do it out of habit */
    display: flex;
    font-family: var(--ff-futura-ss);
    color: var(--dark-headline);
    background-color: var(--background);
}

#root {
    flex-grow: 1;
}

img, svg {
    display: block;
    min-height: auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    min-width: fit-content;
    font-family: var(--ff-montserrat-ss);
    font-weight: var(--fw-500);
}

input, textarea {
    color: var(--dark-headline);
}

.home, .new-post, .post-page, .about, .users, .user {
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: var(--background);
}

.post {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

main {
    max-width: 800px;
}

.home .post a:visited {
    color: var(--dark-headline);
}

.post:first-child {
    margin-top: 0;
}

.post:last-child {
    border-bottom: none;
}

.post-date {
    font-size: 0.75rem;
    color: var(--accent);
    margin-top: 0.3rem;

}

.post-body {
    margin: 1rem 0;
}

.post-image_preview {
    width: 50%;
    max-width: 300px;
}

.post-image_full-size {
    max-width: 80%;
}

.new-post-form {
    display: flex;
    flex-direction: column;
}

.new-post-form label {
    margin-top: 1rem;
}

.new-post-form input[type='text'],
.new-post-form textarea {
    font-family: var(--ff-futura-ss);
    width: 100%;
    min-height: 48px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    outline: none;
    border: 1px solid gray;
}

.new-post-form textarea {
    height: 100px;
}

.default-file-input {
    display: none;
}

.custom-file-input {
    margin-top: 1rem;
    height: 48px;
    min-width: 48px;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    color: var(--white);
    margin-right: .5rem;
    background-color: var(--light-headline);
}

.custom-file-input:hover,
.custom-file-input:focus {
    background-color: var(--dark-headline);
}

.edit-btn {
    height: 48px;
    min-width: fit-content;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--white);
    background: var(--light-headline);
    margin-top: 1rem;
}

.edit-btn:hover,
.edit-btn:focus {
    background-color: var(--dark-headline);
}

.edit-btns {
    display: flex;
    justify-content: space-between;
}

.submit-btn,
.delete-btn {
    margin-top: 1rem;
    height: 48px;
    max-width: 300px;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
}

.submit-btn {
    background-color: var(--accent);
    color: var(--white);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--accent-hover);
}

.delete-btn {
    background-color: var(--main);
    color: var(--white);
}

.delete-btn:hover,
.delete-btn:focus {
    background-color: var(--main-hover);
}

.remove-file-btn {
    background: transparent;
    vertical-align: middle;
    color: var(--light-headline);
}

.remove-file-btn:hover {
    color: var(--dark-headline);
}

.about p {
    margin-top: 1rem;
}

.options-btn {
    display: flex;
    gap: .5rem;
}

.status-msg {
    margin-top: 2rem;
}

.status-msg_err {
    color: red;
}

@media only screen and (min-width: 610px) {
    html {
        font-size: 22px;
    }

    .new-post-form textarea {
        height: 300px;
    }
}
