.nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 5px lightgray;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

.nav li {
    width: 70px;
    height: 40px;
}

.nav li a,
.nav li a:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--dark-headline);
}

.nav li:hover,
.nav li:focus,
.nav li:hover a,
.nav li:focus a {
    background-color: var(--secondary);
    cursor: pointer;
}

.search {
    width: 80%;
    padding: 1rem 0 0 .75rem;
    display: flex;
}

.search input[type="input"] {
    font-family: var(--ff-montserrat-ss);
    font-weight: var(--fw-400);
    width: 100%;
    min-height: 44px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: var(--br-general);
    outline: none;
    border: 1px solid var(--dark-headline);
    background-color: var(--white);
}

.search input[type="input"]::placeholder {
    color: var(--light-headline);
}

.search label {
    position: absolute;
    left: -99999px;
}

.submit-btn {
    color: var(--dark-headline);
    margin-left: .1rem;
    font-size: 18px;
    border: 1px solid var(--dark-headline);
    padding: 12px;
    align-self: center;
    border-radius: var(--br-general);
    background-color: var(--accent);
}

.submit-btn:hover {
    color: var(--light-headline);
    background-color: var(--secondary);
}

/*Active nav section*/
.active {
    background-color: var(--secondary);
}
@media only screen and (min-width: 610px) {
    .nav {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        height: 70px;
    }

    .nav ul {
        margin-left: auto;
        height: 100%;
        align-items: center;
    }

    .nav li {
        width: 100px;
        height: 100%;
    }

    .nav li a,
    .nav li a:visited {
        width: 100px;
        height: 100%;
    }

    .nav li:hover,
    .nav li:focus,
    .nav li:hover a,
    .nav li:focus a {
        background-color: var(--secondary);
        cursor: pointer;
    }

    .search {
        width: 32%;
        padding: .5rem 0;
    }

    .search input[type="input"] {
        margin-left: 1rem;
    }

    .submit-btn {
        display: none;
    }
}


@media only screen and (min-width: 730px) {
    .search {
        width: 40%;
    }

    .submit-btn {
        display: block;
        margin-left: .2rem;
        font-size: 22px;
        padding: 12px;
    }
}
